# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider/VS Code
.idea/
.vscode/

# Logs
*.log

# EF Core Migrations (optional to include)
Migrations/

# NuGet packages
*.nupkg
