.navbar {
  display: flex;
  gap: 1rem;
  background-color: #222;
  padding: 10px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a.active {
  font-weight: bold;
  text-decoration: underline;
}
